/* Assuming you have a fixed navbar on the left */
.app-container {
    display: flex;
  }
  

  .content {
    flex: 1;
  }
  
  .home {
    background-color: #fff;
    padding: 20px;
  }
  
  .courses {
    margin-top: 20px;
  }
  