.desc{
    margin: 20%
}

/* src/components/Chatbot.css */

.main{
  display: flex;
}

.chat-conversation{
  width: 30%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    height: 98vh;
    width: 50%;
    max-width: 600px;
    border: 1px solid #ccc;
  }
  
  .chat-window {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  .message {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: fit-content;
  }
  
  .message.user {
    margin: 10px 5px;
    /* padding: 0 10px; */
    background-color: #007bff;
    color: white;
    margin-left: auto;
  }
  
  .message.system {
    margin:  10px 5px;
    background-color: #e5e5e5;
    align-self: flex-start;
  }
  
  .input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: white;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #2898BD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .NewConversationButton{
    margin: auto;
    display: flex;
    align-items: center;
  }

  .conversation-list{
    width: 90%;
    margin: 0px 2px;
    background-color:  #206A83;
    color: #ffffff;
  }